<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>유저 상세</title>
</head>
<div layout:fragment="content">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#followersNav" type="button" role="tab">
                팔로워
            </button>
            <button class="nav-link"  data-bs-toggle="tab" data-bs-target="#followingsNav" type="button" role="tab">
                팔로우
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="followersNav" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <div id="followerCont" class="list-group overflow-auto" style="height: 60vh;">
                <th:block th:include="/user/follow/followers"></th:block>
            </div>
        </div>
        <div class="tab-pane fade" id="followingsNav" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div id="followingCont" class="list-group overflow-auto" style="height: 60vh;">
                <th:block th:include="/user/follow/followings"></th:block>
            </div>

        </div>
        <div class="tab-pane fade" id="boardsNav" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

        </div>
    </div>

</div>
</html>