<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--카드 스타일-->
<div class="card" style="width: 12rem">
    <img src="/public/img/store/cafe.jpg" alt="...">
    <ul class="list-group">
        <li class="list-group-item">
            <i class="bi bi-shop"></i>
            <span th:text="${recommend.storeName}"></span>
        </li>
        <li class="list-group-item">
            <i class="bi bi-pin-angle"></i>
            <span>추천메뉴</span>
        </li>
        <li class="list-group-item">
            <i class="bi bi-star-fill"></i>
            <span>가게 평점</span>
        </li>
        <li class="list-group-item">
            <i class="bi bi-megaphone"></i>
            <span th:text="${recommend.comment}"></span>
            <span th:if="${recommend.comment==null}">코멘트</span>
        </li>
        <th:block th:if="${session.loginUser.userId==user.userId}">
            <li class="list-group-item">
<!--                <button th:onclick="loadModifyRecommend([[${recommend.userId}]],[[${recommend.storeNum}]])" class="btn btn-primary">-->
<!--                    수정-->
<!--                </button>-->
                <button th:onclick="removeRecommend([[${recommend.userId}]],[[${recommend.storeNum}]])" class="btn btn-primary">
                    삭제
                </button>
            </li>
        </th:block>
    </ul>
</div>


<!--  ------  -->


<!--삭제 재확인 모달창-->
<!--<div class="modal fade" id="deleteReconfirm" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">&lt;!&ndash;헤더&ndash;&gt;-->
<!--        <h2 class="modal-title fs-5" id="ModalLabel">해당 추천 목록을 삭제합니다.</h2>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">&lt;!&ndash;재확인 문구&ndash;&gt;-->
<!--        정말 삭제하시겠습니까?-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요</button>-->
<!--        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteConfirmed">예</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;삭제 확인 모달창&ndash;&gt;-->
<!--<div class="modal fade" id="deleteConfirmed" tabindex="-1" aria-labelledby="ModalToggled" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h2 class="modal-title fs-5" id="modalToggled">추천 목록 삭제 완료!</h2>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        삭제되었습니다.-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div id="recommendModifyModal" th:classappend="modal" tabindex="-1">-->
<!--    <div class="modal-dialog">-->
<!--        <form action="modal-contend" name="recommendModifyForm" method="post" enctype="multipart/form-data">-->
<!--            <input type="hidden" name="recommendStoreNum">-->
<!--            <input type="hidden" name="userId">-->
<!--            <input type="hidden" name="storeNum">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modat-title">추천 가게 수정</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div id="recommendModifyModalBody" class="modal-body">-->

<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
</html>

