<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<p th:text="${recommend}"></p>
<!--카드 스타일-->
<div class="card" style="width: 18rem">
    <img src="..." class="card-img-top" alt="가게 이미지">
    <div class="card-body">
        <h5 class="card-title" >가게 이미지</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:text="${recommend.storeName}"></li>
        <li class="list-group-item">추천 메뉴</li>
        <li class="list-group-item" >가게 평점</li>
        <li class="list-group-item" th:text="${recommend.comment}"></li>
    </ul>
    <div class="card-body">
        <button type="button" th:onclick="removeRecommend([[${recommend.userId}]],[[${recommend.storeNum}]])" th:text="${recommend.userId} +'-'+${recommend.storeNum}">리스트 삭제</button>
    </div>
</div>


<!--  ------  -->


<!--삭제 재확인 모달창-->
<!--<div class="modal fade" id="deleteReconfirm" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">&lt;!&ndash;헤더&ndash;&gt;-->
<!--        <h2 class="modal-title fs-5" id="ModalLabel">해당 추천 목록을 삭제합니다.</h2>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">&lt;!&ndash;재확인 문구&ndash;&gt;-->
<!--        정말 삭제하시겠습니까?-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요</button>-->
<!--        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteConfirmed">예</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;삭제 확인 모달창&ndash;&gt;-->
<!--<div class="modal fade" id="deleteConfirmed" tabindex="-1" aria-labelledby="ModalToggled" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h2 class="modal-title fs-5" id="modalToggled">추천 목록 삭제 완료!</h2>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        삭제되었습니다.-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
</html>

