<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>유저 상세 페이지</title>
</head>
<div layout:fragment="content" >
    <!--비동기 정보 섹션-->
    <div>
        <section>

        <!--
       유저 좌측 정보
       1. 프로필 사진
       2. 닉네임
       3. 팔로우 버튼
   -->
        <div>
            <!--이미지 틀-->
            <div th:if="${user.getProfileImg!=null}">
                <!--이미지가 존재할 경우-->
                <img th:src="@{'{path}'(path=${user.getProfileImg})}" class="img-thumbnail" alt="이미지">
            </div>
            <div th:if="${user.getProfileImg==null}">
                <img src="/public/icon/usericon.png" alt="기본 아이콘">
                <!--
                <i class="fa-solid fa-user"></i>
                -->
            </div>
            <!--나머지 틀-->
            <div>
                <p th:text="${user.nickname}">

                </p>
                <button>팔로우+</button>
            </div>

        </div>
        <div style="border: 1px solid black;">
            <p>팔로워</p>
            <p>팔로잉</p>
            <p th:text="${user.introduce}"></p>
            <div>뱃지</div>
            <ul>
                <li>
                    <a href="">페이스븍</a>
                    <a href=""></a>
                </li>
                <li>
                    <a href="">인스타</a>
                    <a href=""></a>
                </li>
                <li>
                    <a href="">유튜브</a>
                    <a href=""></a>
                </li>
                <li>
                    <a href="">공유</a>
                    <a href=""></a>
                </li>
                <li>
                    <a href="">찹스토리</a>
                    <a href=""></a>
                </li>
            </ul>
        </div>

        </section>

        <section style="border: 1px solid black;">
            <nav>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" >
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="waitingListTab" data-bs-toggle="pill"
                                data-bs-target="#waitingList" type="button"
                                role="tab" aria-controls="waitingList" aria-selected="true">
                            버튼1
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link" id="jjimListTab" data-bs-toggle="pill"
                                data-bs-target="#jjimList" type="button" role="tab"
                                aria-controls="jjimList" aria-selected="false">
                            버튼2
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link" id="reviewListTab" data-bs-toggle="pill"
                                data-bs-target="#reviewList" type="button" role="tab"
                                aria-controls="reviewList" aria-selected="false">
                            버트3
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link" id="recommandListTab" data-bs-toggle="pill"
                                data-bs-target="#recommandList" type="button" role="tab"
                                aria-controls="recommandList" aria-selected="false">
                            버튼4
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div th:include="/user/detail/waitingList" class="tab-pane fade show active" id="waitingList" role="tabpanel"
                            aria-labelledby="waitingListTab" tabindex="0">
                    </div>
                    <div th:include="/user/detail/jjimList" class="tab-pane fade" id="jjimList" role="tabpanel"
                            aria-labelledby="jjimListTab" tabindex="0">

                    </div>
                    <div th:include="/user/detail/reviewList" class="tab-pane fade" id="reviewList" role="tabpanel"
                            aria-labelledby="reviewListTab" tabindex="0">
                        <p>ajax 구현 부분?</p>
                        <p th:text="${user}"></p>
                    </div>
                    <div th:include="/user/detail/recommandList" class="tab-pane fade" id="recommandList" role="tabpanel"
                         aria-labelledby="recommandListTab" tabindex="0">
                        <p>ajax 구현 부분?</p>
                        <p th:text="${user}"></p>
                    </div>
                </div>
            </nav>
            <div style="border: 1px solid red;">
                <p>유저 링크 테스트</p>
                <span th:each="list : ${list}">
                    <a th:href="@{'/user/{userId}/detail.do'(userId=${list.userId})}" th:text="${list.userId}"></a>
                </span>
<!--                <p th:text="${session.loginUser}"></p>-->
<!--                <p th:text="${session.loginUser.userId}"></p>-->
<!--                <p th:text="${user.userId}"></p>-->
                <th:block th:if="${session.loginUser.userId.equals(user.userId)}">
                    <p>
                        <a th:href="@{'/user/{userId}/modify.do'(userId=${user.userId})}">수정페이지</a>
                    </p>
                </th:block>
            </div>
        </section>


    </div>



</div>
</html>