<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>이메일 체크 폼</title>
</head>
<div layout:fragment="content">
  <form class="mx-auto" action="/user/emailCheck.do" method="post"
        style="width: 450px; position: relative; top: calc((100vh - 450px) / 2)">
    <input type="hidden" name="userId" th:value="${param.userId}">
    <h1 class="my-4">이메일 체크 폼</h1>
    <p class="input-group">
      <div class="form-floating">
        <input type="text" name="emailCheckCode" value="" class="form-control" placeholder="이메일 체크 코드">
        <label>이메일 체크 코드</label>
      </div>
    <p class="text-end">
      <button type="submit" class="btn btn-warning btn_FindId">
        <span style="font-size: 25px; font-weight: 800;">아이디 찾기</span>
      </button>
    </p>
      </p>
  </form>
</div>
</html>

<style>
  .btn_FindId {
    width: 28em;
    height: 3.5em;
    background: #FFE3A9;
    color: #FF5D5D;
    margin-right: 400px;
    margin-top: 7%;
    border:none;
  }
</style>