<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>회원가입 폼</title>
</head>
<div layout:fragment="content" style="margin-top: 3em">

  <form name="signupForm" action="./signup.do" method="post" style="width: 500px;margin: 0 auto;">

    <a class="navbar-brand" href="/">
      <img src="/public/img/logo.png" alt="" width="350px" height="120px" style="margin-left: 5em">
    </a>
    <p class="form-floating">
      <input id="storeId" type="text" name="userId" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label class="">아이디</label>
    </p>
    <p class="form-floating">
      <input id="pw" type="password" name="pw" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>비밀번호</label>
    </p>
    <p class="form-floating">
      <input id="pwCheck" type="password" name="check_pw" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>비밀번호 확인
      <span id="same"></span>
      </label>
    </p>
    <p class="form-floating">
      <input id="name" type="text" name="name" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>이름</label>
    </p>
    <p class="form-floating">
      <input id="nickName" type="text" name="nickName" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>닉네임</label>
    </p>
    <p class="form-floating">
      <input id="birth" type="date" name="birth" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>생일</label>
    </p>
    <p class="form-floating">
      <input id="phone" type="text" name="phone" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>핸드폰</label>
    </p>
    <p class="form-floating">
      <select name="gender" class="form-control" style="background: #FFFAED">
        <option value="MALE">남자</option>
        <option value="FEMALE">여자</option>
      </select>
      <label>성별</label>
    </p>
    <p class="form-floating">
      <input type="text" name="address" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>주소</label>
    </p>
    <p class="form-floating">
      <input type="text" name="detailAddress" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>주소상세</label>
    </p>
    <div style="width: 20em; display: inline-block">
      <p class="form-floating">
        <input id="sm_email" type="text" name="sm_email" value="" class="form-control" placeholder="??" style="background: #FFFAED">
        <label>이메일</label>
      </p>
    </div>
      <div style="float: right; width: 33%;">
        <button type="submit" class="btn btn-warning"
                style="width: 10em; height: 3.5em; background: #FFE3A9; color: #FF5D5D;">
          <a style="font-size: 18px; font-weight: 800">인증번호 받기</a>
        </button>
      </div>
      <div>
        <p class="form-floating">
          <input type="text" name="email" value="" class="form-control" placeholder="??" style="background: #FFFAED">
          <label style="">인증번호</label>
        </p>
      </div>
    <div>
      <p class="form-floating">
        <input type="checkbox" name="agree_all" id="agree_all">
        <span>약관 동의</span>
        <span type="button" style="color: dodgerblue; margin-left: 10px">약관 보러가기</span>
      </p>
    </div>
    <p class="text-end">
      <button type="button" class="btn btn-warning"
              style="width: 31.3em; height: 3.5em; background: #FFE3A9; color: #FF5D5D;">
        <a style="font-size: 25px; font-weight: 800">회원가입</a>
      </button>
    </p>
  </form>
</div>
</html>

