<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>회원가입 폼</title>
</head>
<div layout:fragment="content" style="margin-top: 3em">
  <form action="/user/signup.do" method="post" style="width: 500px;margin: 0 auto;">

    <a class="navbar-brand" href="/">
      <img src="/public/img/logo.png" alt="" width="350px" height="120px" style="margin-left: 5em">
    </a>
    <p class="form-floating">
      <input id="userId" type="text" name="userId" value="" class="form-control id_input" placeholder="??" style="background: #FFFAED; margin-bottom: 10px">
      <label class="">아이디</label>
      <span class="id_input_re_1" style="display: none; color: #0b5ed7">사용 가능한 아이디입니다.</span>
      <span class="id_input_re_2" style="display: none; color: #b02a37">아이디가 이미 존재합니다.</span>
    </p>


    <p class="form-floating">
      <input id="pwd" type="password" name="pw" onchange="check_pw()" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>비밀번호</label>
    </p>
    <p class="form-floating">
      <input id="repwd" type="password" onchange="check_pw()" class="form-control" placeholder="??" style="background: #FFFAED; margin-bottom: 10px">
      <span id="check"></span>
      <label>비밀번호 확인</label>
    </p>
    <p class="form-floating">
      <input id="name" type="text" name="name" value="" class="form-control" placeholder="??" style="background: #FFFAED;">
      <label>이름</label>
    </p>
    <p class="form-floating">
      <input id="nickName" type="text" name="nickname" value="" class="form-control nickName_input" placeholder="??" style="background: #FFFAED; margin-bottom: 10px">
      <label>닉네임</label>
      <span class="nickNameCheck1" style="display: none; color: #0b5ed7">사용 가능한 닉네임입니다.</span>
      <span class="nickNameCheck2" style="display: none; color: #b02a37">중복 닉네임 입니다. 다시 입력해주세요</span>
    </p>
    <p class="form-floating">
      <input id="birth" type="date" name="birth" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>생일</label>
    </p>
    <p class="form-floating">
      <select name="gender" class="form-control" style="background: #FFFAED">
        <option value="MALE">남자</option>
        <option value="FEMALE">여자</option>
      </select>
      <label>성별</label>
    </p>
    <div style="width: 20em; display: inline-block">
      <p class="form-floating">
        <input type="text"
               name="postnumber" id="postnumber" value="" class="form-control" placeholder="??" style="background: #FFFAED">
        <label>우편번호</label>
      </p>
    </div>
    <div style="float: right; width: 33%;">
      <button type="button" onclick="execPostCode();" class="btn btn-warning"
              style="width: 10em; height: 3.5em; background: #FFE3A9; color: #FF5D5D;" >
        <a style="font-size: 18px; font-weight: 800">주소 찾기</a>
      </button>
    </div>
    <p class="form-floating">
      <input type="text" name="address" id="aaddressddr2" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>도로명 주소</label>
    </p>
    <p class="form-floating">
      <input type="text" name="detailAddress" id="detailAddress" value="" class="form-control" placeholder="??" style="background: #FFFAED">
      <label>상세 주소</label>
    </p>
    <div>
      <p class="form-floating">
        <input type="email" name="email" value="" class="form-control email_input" placeholder="??" style="background: #FFFAED">
        <label style="">이메일</label>
        <span class="emailCheck1" style="display: none; color: #0b5ed7">사용 가능한 이메일 입니다.</span>
        <span class="emailCheck2" style="display: none; color: #b02a37">중복 이메일 입니다. 다시 입력해주세요</span>
      </p>
    </div>
    <div>
      <p class="form-floating">
        <input type="checkbox" name="U_checkAgreement1"  id="checkId1">약관 동의
        <a type="button" style="color: dodgerblue; margin-left: 5px" data-bs-toggle="modal" data-bs-target="#exampleModal">약관 보러가기</a>
      </p>
    </div>
        <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="background-color: #FFFAED">
            <div class="modal-header" style="background-color: #FFFAED">
              <h5 class="modal-title" id="exampleModalLabel">이용약관</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div>
                <div class="mb-3">
                  <p href="">
                    <div style="text-align: center">
                      제 1 조 (목적)<br>
                      이 약관은 {COMPANY_NAME}(이하 "사이트"라 합니다)에서 <br>제공하는 인터넷서비스(이하 "서비스"라 합니다)의 이용 조건 및 <br>절차에 관한 기본적인 사항을 규정함을 목적으로 합니다.
                    </div>
                    <hr style="border : 1px solid;">
                    <div style="text-align: center">
                      제 2 조 (약관의 효력 및 변경)<br>
                      ① 이 약관은 서비스 화면이나 기타의 방법으로 <br>이용고객에게 공지함으로써 효력을 발생합니다.<br>
                      ② 사이트는 이 약관의 내용을 변경할 수 있으며, <br>변경된 약관은 제1항과 같은 방법으로 공지 또는<br> 통지함으로써 효력을 발생합니다.
                    </div>
                  </p>
                  <div id="emailHelp" class="form-text" style="text-align: center">동의하시면 회원가입 창에 약관 동의를 체크해주세요</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
<!--여기까지 모달-->

    <p class="text-end">
      <button type="submit" class="btn btn-warning" onsubmit="event.preventDefault(); is_Checked(event);"
              style="width: 31.3em; height: 3.5em; background: #FFE3A9; color: #FF5D5D; margin-right: 400px">
          <span style="font-size: 25px; font-weight: 800;">회원가입</span>
      </button>
    </p>

  </form>



  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <script>
    //주소 API
    function execPostCode() {
      new daum.Postcode({
        oncomplete: function(data) {
          // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

          // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
          var extraRoadAddr = ''; // 도로명 조합형 주소 변수

          // 법정동명이 있을 경우 추가한다. (법정리는 제외)
          // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
          if(data.bname !== '' && /[동|로]$/g.test(data.bname)){
            extraRoadAddr += data.bname;
          }
          // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if(extraRoadAddr !== ''){
            extraRoadAddr = ' (' + extraRoadAddr + ')';
          }
          // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
          if(fullRoadAddr !== ''){
            fullRoadAddr += extraRoadAddr;
          }

          // 우편번호와 주소 정보를 해당 필드에 넣는다.
          console.log(data.zonecode);
          console.log(fullRoadAddr);


          document.querySelector("[name=postnumber]").value = data.zonecode;
          document.querySelector("[name=address]").value = fullRoadAddr;

        }
      }).open();
    }

    //비밀번호 일치하는지 확인(alert으로 나오게 하기)
    // function validatePassword() {
    //   var pwd=document.getElementById("pwd").value;
    //   var repwd=document.getElementById("repwd").value;
    //
    //  if (pwd !== repwd) {
    //    alert("패스워드가 일치하지 않습니다. 비밀번호를 확인해주세요")
    //    return false;
    //  }
    //  return true
    // }

    //비밀번호 유효성 검사
    function check_pw() {
      var pwd=document.getElementById('pwd').value;
      var SC=["!","@","#","$","%"];
      var check_SC=0;

      if(pwd.length < 6 || pwd.length>16){
        window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
        document.getElementById('pwd').value='';
      }
      for(var i=0;i<SC.length;i++){
        if(pwd.indexOf(SC[i]) !== -1){
          check_SC = 1;
        }
      }
      if(check_SC === 0){
        window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
        document.getElementById('pwd').value='';
      }
      if(document.getElementById('pwd').value !=='' && document.getElementById('repwd').value!==''){
        if(document.getElementById('pwd').value===document.getElementById('repwd').value){
          document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
          document.getElementById('check').style.color='blue';
        }
        else{
          document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
          document.getElementById('check').style.color='red';
        }
      }
    }

    //아이디 중복 체크
    document.querySelector('.id_input').addEventListener("change", handleChange);
    async function handleChange() {
      // console.log("keyup 테스트");
      const memberId = document.querySelector('.id_input').value; // .id_input에 입력되는 값
      const resp=await fetch('/user/memberIdChk.do?memberId='+memberId);
        if(resp.status===200){
          const text=await resp.text();
          if(text!=='fail'){
            document.querySelector('.id_input_re_1').style.display = 'inline-block';
            document.querySelector('.id_input_re_2').style.display = 'none';

          }else{
            document.querySelector('.id_input_re_2').style.display = 'inline-block';
            document.querySelector('.id_input_re_1').style.display = 'none';

          }
        }
    }

    //닉네임 중복 체크
    document.querySelector('.nickName_input').addEventListener("change", handleChange_nick);
    async function handleChange_nick() {
      const nickNameId=document.querySelector('.nickName_input').value;
      const resp=await fetch('/user/nickNameChk.do?nickNameId='+nickNameId);
      if (resp.status===200) {
        const text=await resp.text();
        if (text!=='fail') {
          document.querySelector('.nickNameCheck1').style.display = 'inline-block';
          document.querySelector('.nickNameCheck2').style.display = 'none';
        } else {
          document.querySelector('.nickNameCheck2').style.display = 'inline-block';
          document.querySelector('.nickNameCheck1').style.display = 'none';
        }
      }
    }

    document.querySelector('.email_input').addEventListener("change", handleChange_email);
    async function handleChange_email() {
      const emailId=document.querySelector('.email_input').value;
      const resp=await fetch('/user/emailChk.do?emailId='+emailId);
      if (resp.status===200) {
        const text=await resp.text();
        if (text!=='fail') {
          document.querySelector('.emailCheck1').style.display = 'inline-block';
          document.querySelector('.emailCheck2').style.display = 'none';
        } else {
          document.querySelector('.emailCheck2').style.display = 'inline-block';
          document.querySelector('.emailCheck1').style.display = 'none';
        }
      }
    }

    // document.getElementById("testBtn").addEventListener("click", function(e) {
    //   e.preventDefault();
    //   document.getElementById("testModal").modal("show");
    // });


    //모달 자바스크립트
    const emailInputEl = document.querySelector("#exampleInputEmail1");
    const modelEl = document.querySelector("#exampleModal");

    modelEl.addEventListener("shown.bs.modal", function() {
      emailInputEl.focus();
    })


    //약관 동의 여부 체크
    function is_Checked(e) {
      e.preventDefault();
      const checkbox=document.getElementById('checkId1');
      const is_Checked=checkbox.checked;

      if (is_Checked===false) {
        alert("약관 동의 여부를 체크하세요");
      } else {
        //alert("회원가입이 완료되었습니다.");
        e.target.submit();
      }
    }
  </script>



</div>
</html>