<div class="d-flex">
  <a href="javascript:void(0)" style="color: #222"
     th:onclick="reviewLikeHandler('LIKE',[[${id}]])" class="d-flex me-1">
    <div th:each="rr:${r.reviewLikes}">
      <div th:if="${rr.userId==session.loginUser.userId}">
        <i th:classappend="${(rr.rlStatus=='LIKE')?'bi-hand-thumbs-up-fill':'bi-hand-thumbs-up'}"></i>
      </div>
    </div>
    <div th:if="${#lists.isEmpty(r.reviewLikes)}"><i class="bi bi-hand-thumbs-up"></i></div>
    <span th:text="${r.countLike.likeCount}"></span>
  </a>

  <a href="javascript:void(0)" style="color: #222"
     th:onclick="reviewLikeHandler('BAD',[[${id}]])" class="d-flex me-1">
    <div th:each="rr:${r.reviewLikes}">
      <div th:if="${rr.userId==session.loginUser.userId}">
        <i th:classappend="${(rr.rlStatus=='BAD')?'bi-hand-thumbs-down-fill':'bi-hand-thumbs-down'}"></i>
      </div>
    </div>
    <div th:if="${#lists.isEmpty(r.reviewLikes)}"><i class="bi bi-hand-thumbs-down"></i></div>
    <span th:text="${r.countLike.badCount}"></span>
  </a>
</div>