<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary p-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="height: 25px;"
        onclick="setReportId(123)">신고하기</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">리뷰 신고하기</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form name="reportForm" id="reportForm">
          <label for="recipient-name" class="col-form-label">신고사유:</label>
          <input type="text" name="reportContent" class="form-control" id="recipient-name">
          <input type="hidden" id="reviewNum" name="reviewNum">
          <input type="hidden" id="reportUserId" name="reportUserId">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="submit" class="btn btn-primary" onclick="submitReport()">신고</button>
      </div>
    </div>
  </div>
</div>

<script>

</script>
