
<div class="userDetailContainer rounded-3">

<div>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>번호</td>
            <td>가게 이름</td>
            <td>위치</td>
            <td>다녀온 날짜</td>
            <td>
                <div>
                    정렬
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="visited : ${visited}">
                <td th:text="${visited.listNum}"></td>
                <td th:text="${visited.storeName}"></td>
                <td th:text="${visited.address}"></td>
                <td colspan="2" th:text="${visited.visitedDate}"></td>
            </tr>
        </tbody>
    </table>

</div>