<!DOCTYPE html>
<html lang = "en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{layout}">
<head>
    <meta charset = "UTF-8">
    <title>블로그 메인</title>
</head>
<div layout:fragment = "content">
    <h3> 이건 챱블로그 메인이다 !!</h3>
        <div>
            <div class="border bg-primary" style="height: 300px; position: relative;">
                <div class="d-flex" id="box" style="position: absolute; bottom: 0; left: 0;">
                    <img th:src="@{'{path}'(path=${chapstorys[0].user.profileImg})}" alt = "유저 프사" style="width: 50px; height: 50px; object-fit: cover;" class="img-thumbnail rounded-circle">
                    <div class="d-flex">
                        <h4 class="me-2" th:text="${chapstorys[0].user.nickname}"></h4>
                        <div class="d-flex">
                            <div class="border bg-primary rounded-circle me-2" style="height: 30px; width: 30px"></div>
                            <div class="border bg-primary rounded-circle me-2" style="height: 30px; width: 30px"></div>
                            <div class="border bg-primary rounded-circle me-2" style="height: 30px; width: 30px"></div>
                        </div>
                        <button>공유</button>
                    </div>
                </div>
            </div>
        </div>
    <h4>인기글</h4>
    <div class="d-flex justify-content-around">
        <div th:each="c:${chapstorys}">
            <img th:src="@{'{path}'(path=${chapstorys[0].mainImg})}" alt = "챱스 썸네일" style="height: 100px; width:100px; position: relative; object-fit: cover;" class="img-thumbnail">
            <h5 th:text="${c.title}" style="width: 150px"></h5>
        </div>
    </div>
    <hr>
    <h4>전체글</h4>
    <div th:each="c:${chapstorys}">
        <div class="col">
            <div class="card">
                <div style="text-align: center;">
                    <img th:src="@{'{path}'(path=${c.mainImg})}" alt = "챱스 썸네일" style="height: 300px; width: 100%; position: relative; object-fit: cover;" class="img-thumbnail">
                    <h3 th:text="${c.title}"></h3>
                    <p th:text="${c.content}"></p>
                </div>
            </div>
        </div>
    </div>
</div>