<!DOCTYPE html>
<html lang = "en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{layout}">
<head>
    <meta charset = "UTF-8">
    <title>블로그 메인</title>
</head>
<div layout:fragment = "content">
    <div>
        <div class="border bg-primary" style="height: 300px; position: relative;">
            <th:block th:if="${session.loginUser!=null && #strings.equals(session.loginUser.userId,chapstorys[0].user.userId)}">
                <div class="input-group" style="width: 50%;float:right">
                    <label class="input-group-text">베너 이미지 변경</label>
                    <input class="form-control" type="file" name="chapbanner">
                </div>
            </th:block>
            <div class="d-flex justify-content-between p-4 align-items-end" id="box" style="position: absolute; bottom: 0; width: 100%;">
                <div class="d-flex">
                    <img th:src="@{'{path}'(path=${chapstorys[0].user.profileImg})}" alt = "유저 프사" style="width: 50px; height: 50px; object-fit: cover;" class="img-thumbnail rounded-circle me-3">
                    <div class="d-flex align-items-center">
                        <h2 class="me-2" th:text="${chapstorys[0].user.nickname}"></h2>
                        <div class="d-flex">
                            <div class="border bg-primary rounded-circle me-2" style="height: 30px; width: 30px"></div>
                            <div class="border bg-primary rounded-circle me-2" style="height: 30px; width: 30px"></div>
                            <div class="border bg-primary rounded-circle me-2" style="height: 30px; width: 30px"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <button style="float: right">공유</button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 70px">
        <h4 style="font-size: 40px; margin-bottom: 40px">인기글</h4>
        <div class="d-flex justify-content-between" style=" margin-bottom: 70px">
            <div th:each="c:${chapstorys}">
                <img th:src="@{'{path}'(path=${chapstorys[0].mainImg})}" alt = "챱스 썸네일" style="height: 100px; width:100px; position: relative; object-fit: cover;" class="img-thumbnail">
                <h5>
                    <a th:href="@{'/chapstory/{chapNum}/detail.do'(chapNum=${c.chapNum})}" th:text="${c.title}" style="text-decoration: none; color: inherit; width: 100px"></a>
                </h5>
            </div>
        </div>
        <hr>
    </div>
    <div style="margin-top: 70px; margin-bottom: 70px">
        <h4 style="font-size: 40px; margin-bottom: 40px">전체글</h4>
        <div th:each="c:${chapstorys}">
            <div class="col">
                <div class="card mb-4">
                    <div style="text-align: center;">
                        <img th:src="@{'{path}'(path=${c.mainImg})}" alt = "챱스 썸네일" style="height: 300px; width: 100%; position: relative; object-fit: cover;" class="img-thumbnail">
                        <h3>
                            <a th:href="@{'/chapstory/{chapNum}/detail.do'(chapNum=${c.chapNum})}" th:text="${c.title}" style="text-decoration: none; color: inherit; width: 150px"></a>
                        </h3>
                        <p th:text="${c.content}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>