<!--<div class="col">-->
<!--    <div class="card">-->
<!--        <div style="text-align: center;">-->
<!--            <div class="border bg-primary" style="height: 300px;"></div>-->
<!--            <h3>블로그 제목</h3>-->
<!--            <p>제가 방문한 맛집은 "청담동 차돌박이"입니다. 이곳은 서울 강남구 청담동에 위치한 차돌박이 전문점으로 유명합니다. 저는 이곳에서 주로 차돌박이와 함께 곱창과 마른소주를 즐기는 것을 좋아합니다. 이번에도 역시 차돌박이와 곱창, 마른소주를 시켰는데, 역시나 맛있었습니다. 차돌박이는 탱글탱글하고 부드러운 식감이 특징이며, 곱창은 식감 또한 좋으면서 특유의 풍미와 함께 씹는 맛이 일품입니다. 마른소주는 이곳에서만 즐길 수 있는 특별한 맛으로, 살짝 씁쓸하면서도 깔끔한 느낌이었습니다.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->