<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>블로그 상세글</title>
    <script src="/public/js/ChapstoryLike.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
</head>
<div layout:fragment="content">
    <form action="/chapstory/detail.do" style="margin-top: 50px">
        <h3 th:text="${c.title}" style="font-size: 50px; margin-bottom: 20px"></h3>
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <img th:src="@{'{path}'(path=${c.user.profileImg})}" alt = "유저 프사" style="width: 50px; height: 50px; object-fit: cover;" class="img-thumbnail rounded-circle me-3">
                <div>
                    <div class="d-flex">
<!--                        <h4 class="me-2" th:text="${c.user.nickname}">닉네임</h4>-->
                        <h3>
                            <a th:href="@{'/chapstory/{userId}/blogMain.do'(userId=${c.user.userId})}"  th:text="${c.user.nickname}" style="text-decoration: none; color: inherit; margin-right: 10px"></a>
                        </h3>
<!--                        <div class="d-flex">-->
<!--                            <div class="border bg-warning rounded-circle me-2" style="height: 30px; width: 30px"></div>-->
<!--                            <div class="border bg-warning rounded-circle me-2" style="height: 30px; width: 30px"></div>-->
<!--                            <div class="border bg-warning rounded-circle me-2" style="height: 30px; width: 30px"></div>-->
<!--                        </div>-->
                    </div>
                    <div class="d-flex align-items-start">
                        <p th:text="${#dates.format(c.postTime,'yyyy-MM-dd')}" style="margin-right: 20px"></p>
                        <div class="d-flex align-items-start">
                            <p class="me-1">조회수</p>
                            <p th:text="${c.viewcount}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
<!--                <div>-->
<!--                    <p>좋아요 : </p>-->
<!--                    <p th:text="${c.likes}"></p>-->
<!--                </div>-->
<!--                <a href="javascript:void(0)"-->
<!--                   class="btn btn-sm btn-light text-danger disabled" data-bs-toggle="tooltip" data-bs-title="좋아요" data-bs-placement="top">-->
<!--                    <i class="bi bi-hand-thumbs-up"></i>-->
<!--                    <span th:text="${c.likes}"></span>-->
<!--                </a>-->
                <div class="d-flex align-items-center">
                    <div class="likeCont me-2" th:id="'likeCont'+${c.chapNum}">
                        <th:block th:if="${session.loginUser!=null}" th:with="likes=${c.likeCnt},id=${c.chapNum}" th:include="/chapstory/loginLike"></th:block>
                        <th:block th:unless="${session.loginUser!=null}" th:with="likes=${c.likeCnt},id=${c.chapNum}" th:include="/chapstory/like"></th:block>
                    </div>
                    <a id="share-btn" class="btn btn-outline-warning btn-sm me-2" data-clipboard-text="https://example.com">공유</a>
                    <th:block th:unless="${session.loginUser!=null && #strings.equals(session.loginUser.userId,c.userId)}">
                        <th:block th:include="/chapstory/report"></th:block>
                    </th:block>
                </div>
<!--                <div th:text="${c}"></div>-->
<!--                <th:block th:if="${session.loginUser.userId==c.userId}">-->
                <th:block th:if="${session.loginUser!=null && #strings.equals(session.loginUser.userId,c.user.userId)}">
                    <div class="d-flex justify-content-end">
                        <a th:href="@{'/chapstory/{chapNum}/modify.do'(chapNum=${c.chapNum})}" class="btn btn-warning me-2">수정</a>
                        <a th:href="@{'/chapstory/{chapNum}/remove.do'(chapNum=${c.chapNum})}" class="btn btn-warning me-2">삭제 </a>
                    </div>
                </th:block>
            </div>
        </div>
        <hr>

        <div style="max-height: 500px; max-width: 500px; margin:auto" class="d-flex justify-content-center align-items-center"  th:if="${c.chapstoryimgs != null and not #lists.isEmpty(c.chapstoryimgs)}" >
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
<!--                <div class="carousel-indicators">-->
<!--                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--                </div>-->
                <div class="carousel-inner">
                    <div class="carousel-item" th:each="ci,state:${c.chapstoryimgs}" th:classappend="${(state.first)?'active':''}">
                        <img  th:src="@{'{path}'(path=${ci.img})}" class="d-block w-100" alt="게시글 이미지" style="max-height: 500px; max-width: 500px; margin-top: 50px;" >
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
<!--            <div th:each="ci : ${c.chapstoryimgs}">-->
<!--                <img th:src="@{'{path}'(path=${ci.img})}" alt="챱스 썸네일" style="height: 300px; object-fit: cover; margin-top: 50px; justify-self: center; display: block;" class="img-thumbnail mx-auto">-->
<!--            </div>-->
        </div>
        <div class="container" style="margin-top: 50px; margin-bottom: 100px; text-align: center;">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <textarea th:field="${c.content}" style= "width: 100%" class="content"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<style>
    p{
        margin: 0;
    }
    textarea {
        resize: none;
        overflow:visible;
    }
</style>
</html>
<script>
    const txtArea = $(".content");
    if (txtArea) {
        txtArea.each(function(){
            $(this).height(this.scrollHeight);
        });
    }
</script>
<script>
    document.querySelector('[data-clipboard-text]').setAttribute('data-clipboard-text', window.location.href);
    var clipboard = new ClipboardJS('#share-btn');
    clipboard.on('success', function(e) {
        alert('주소가 복사되었습니다.');
    });
</script>
