<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>블로그 리스트</title>
</head>
<div layout:fragment="content">
    <form action="/chapstory/list.do">
        <div class="card-group mt-xxl-5 m-5 p-5" >
            <div class="card m-1" >
                <div th:if="${bestList[0].chapstoryimgs != null and not #lists.isEmpty(bestList[0].chapstoryimgs)}">
                    <img th:src="@{'{path}'(path=${bestList[0].chapstoryimgs[0].img})}" class="card-img-top" alt="챱스인기글썸네일" style="object-fit: cover; width: 100%; height: 100%;">
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        <a th:href="@{'/chapstory/{chapNum}/detail.do'(chapNum=${bestList[0].chapNum})}" th:text="${bestList[0].title}" style="text-decoration: none; color: inherit; width: 100px"></a>
                    </h3>
                </div>
            </div>
            <div class="card m-1" >
                <div th:if="${bestList[1].chapstoryimgs != null and not #lists.isEmpty(bestList[1].chapstoryimgs)}">
                    <img th:src="@{'{path}'(path=${bestList[1].chapstoryimgs[0].img})}" class="card-img-top" alt="챱스인기글썸네일" style="object-fit: cover; width: 100%; height: 100%;">
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        <a th:href="@{'/chapstory/{chapNum}/detail.do'(chapNum=${bestList[1].chapNum})}" th:text="${bestList[1].title}" style="text-decoration: none; color: inherit; width: 100px"></a>
                    </h3>
                </div>
            </div>
            <div class="card m-1" >
                <div th:if="${bestList[2].chapstoryimgs != null and not #lists.isEmpty(bestList[2].chapstoryimgs)}">
                    <img th:src="@{'{path}'(path=${bestList[2].chapstoryimgs[0].img})}" class="card-img-top" alt="챱스인기글썸네일" style="object-fit: contain; width: 100%; height: 100%;">
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        <a th:href="@{'/chapstory/{chapNum}/detail.do'(chapNum=${bestList[2].chapNum})}" th:text="${bestList[2].title}" style="text-decoration: none; color: inherit; width: 100px"></a>
                    </h3>
                </div>
            </div>
        </div>
        <th:block th:if="${session.loginUser!=null}">
            <div class="d-flex justify-content-end mt-5 mb-5">
                <a th:href="@{'/chapstory/{userId}/blogMain.do'(userId=${session.loginUser.userId})}"  class="btn btn-warning me-2">my챱</a>
                <a href="/chapstory/register.do" class="btn btn-warning">글쓰기</a>
            </div>
        </th:block>
        <nav aria-label="Page navigation example" style="width: 70%; margin:auto" class="mt-lg-5 mb-lg-5">
            <form action="" class="mx-auto" >
                <div class="input-group">
                    <label class="input-group-text bi bi-list-columns" style="background-color: #ffeeba;"></label>
                    <select name="order" class="form-control">
                        <option value="">정렬기준</option>
                        <option th:selected="(${#strings.equals(param.order,'user_id')})"value="user_id">아이디</option>
                        <option th:selected="(${#strings.equals(param.order,'chap_num')})"value="chap_num">게시글번호</option>
                        <option th:selected="(${#strings.equals(param.order,'title')})"value="title">제목</option>
                        <option th:selected="(${#strings.equals(param.order,'content')})"value="content">내용</option>
                        <option th:selected="(${#strings.equals(param.order,'viewcount')})"value="viewcount">조회수</option>
                    </select>
                    <select name="direct" class="form-control">
                        <option value="">방향</option>
                        <option th:selected="(${#strings.equals(param.direct,'DESC')})" value="DESC">
                            내림차순
                        </option>
                        <option th:selected="(${#strings.equals(param.direct,'ASC')})" value="ASC">
                            오름차순
                        </option>
                    </select>
                    <button class="btn btn-warning">정렬</button>
                </div>
                <div class="input-group my-3">
                    <label class="input-group-text bi bi-search" style="background-color: #ffeeba;"></label>
                    <select name="searchField" class="form-control">
                        <option value="">검색기준</option>
                        <option th:selected="(${#strings.equals(param.searchField,'user_id')})"value="user_id">글쓴이</option>
                        <option th:selected="(${#strings.equals(param.searchField,'title')})"value="title">제목</option>
                        <option th:selected="(${#strings.equals(param.searchField,'content')})"value="content">내용</option>
                    </select>
                    <input type="text" class="form-control " name="searchValue" placeholder="검색어 입력"
                           th:value="${param.searchValue}" style="width : 50%">
                    <button class="btn btn-warning">검색</button>
                </div>
            </form>
        </nav>
        <div style="margin-bottom: 100px">
            <div class="p-4 border-1 bg-white mb-4" th:each="c:${chapstorys}">
                <div class="d-flex justify-content-around">
                    <div th:if="${c.chapstoryimgs != null and not #lists.isEmpty(c.chapstoryimgs)}">
                        <img th:src="@{'{path}'(path=${c.chapstoryimgs[0].img})}" alt="챱스 썸네일" style="width: 200px; height: 200px; object-fit: cover;" class="img-thumbnail">
                    </div>
                    <div style="width:70%">
                        <div class="d-flex justify-content-between ">
                            <div class="d-flex align-items-center mb-2">
                                <img th:src="@{'{path}'(path=${c.user.profileImg})}" alt = "유저 프사" style="width: 50px; height: 50px; object-fit: cover;" class="img-thumbnail rounded-circle me-2">
                                <h4>
                                    <a th:href="@{'/chapstory/{userId}/blogMain.do'(userId=${c.user.userId})}"  th:text="${c.user.nickname}" style="text-decoration: none; color: inherit;" class="me-3"></a>
                                </h4>
                                <div class="d-flex end">
                                    <p>조회수 </p>
                                    <p class="ms-2" th:text="${c.viewcount}"></p>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <p>좋아요</p>
                                    <small class="ms-2 mt" th:text="${c.likeCnt}"></small>
                                </div>
                                <small th:text="${#dates.format(c.postTime,'yyyy-MM-dd')}"></small>
                            </div>
                        </div>
                        <h3>
                            <a th:href="@{'/chapstory/{chapNum}/detail.do'(chapNum=${c.chapNum})}" th:text="${c.title}" style="text-decoration: none; color: inherit;"></a>
                        </h3>
                        <p class="content" th:text="${c.content}"></p>
                        </div>
                </div>
            </div>
        </div>
    </form>
    <th:block th:include="/chapstory/pageNav"></th:block>
</div>
</html>
<style>
    p, small{
        color : #636363;
        margin : 0;
    }
    .content{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 100px;
    }
</style>
