<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>블로그 작성 페이지</title>
</head>
<div layout:fragment="content">
    <form action="/chapstory/register.do" name="registerForm" enctype="multipart/form-data" method="post">
    <h3> 이건 작성페이지다 !!!</h3>
    <p class="form-floating">
        <input id="titleInput" type="text" name="title" value="" class="form-control" placeholder="??">
        <label class="">제목을 입력하세요</label>
    </p>
    </form>
</div>