<!-- register.html -->
<!DOCTYPE html>\
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
    <meta charset="UTF-8">
    <title>블로그 작성 페이지</title>
    <script src="/public/js/ckeditor.js" defer></script>
    <style>
        .ck-editor__editable {
            height: 50vh;
        }
    </style>

</head>
<div layout:fragment="content">
    <form action="/chapstory/register.do" name="registerForm" enctype="multipart/form-data" method="post">
        <p class="form-floating">
            <input id="titleInput" type="text" name="userId" th:value="${session.loginUser.userId}" readonly class="form-control" placeholder="??">
            <label for="titleInput" class="">아이디(글쓴이)</label>
        </p>
        <p class="form-floating">
            <input id="title" type="text" name="title" class="form-control" placeholder="??">
            <label for="title" class="form-label">제목을 입력하세요</label>
<!--            <input type = "file", id="" class="form-control" accept="image/*">-->
        </p>
        <p id="imgCont">
            <button id="imgAddBtn" class="btn btn-light w-100" type="button">
                이미지
                <i class="bi bi-plus-square"></i>
            </button>
        </p>
        <p class="form-floating">
            <textarea id="txtContent" name="content" class="form-control" placeholder="내용을 입력하세요." onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
<!--            <label for="txtContent" class="form-label">내용을 입력하세요.</label>-->
        </p>
<!--        <p>-->
<!--            <th:block th:include="/chapstory/write"></th:block>-->
<!--        </p>-->
        <p class="text-end">
            <button class="btn btn-outline-warning me-2" type="reset">초기화</button>
            <button class="btn btn-outline-primary" type="submit">등록</button>
        </p>
    </form>
</div>
</html>
<script>
    // 이미지 버튼 클릭시 이미지 등록 추가

    const imgAddBtn=document.getElementById("imgAddBtn");
    const imgCont=document.getElementById("imgCont");
    imgAddBtn.addEventListener("click",(e)=>{
        imgCont.insertAdjacentHTML("beforeend",imgInputComponent());
    });

    function imgInputComponent( label="이미지",name="img"){
        return `    <div class="input-group mt-2">
                    <label class="input-group-text">${label}</label>
                    <input class="form-control" type="file" name="${name}">
                    <button type="button" class="btn btn-danger" onclick="this.closest('.input-group').remove()">
                        <i class="bi bi-x-lg"></i>
                    </button>
                  </div>
              `;
    }


    // textarea가 입력하는 만큼 자동으로 늘어남
    function resize(obj) {
        obj.style.height = '1px';
        obj.style.height = (12 + obj.scrollHeight) + 'px';
    }


</script>
<style>
    textarea {
        min-height: 5rem;
        overflow-y: hidden;
        resize: none;
    }
</style>
