<!-- write.html -->
<meta charset="UTF-8">
<title>Title</title>
<!-- 네이버 스마트에디터  -->
<!-- <head> 안에 추가 -->
<script type="text/javascript" src="/libs/smarteditor/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- 2.10.0 버전엔 js 파일 일부분이 없어 오류 발생 ! -->

<textarea name="content" id="txtContent" rows="10" cols="100" style="width: 100%; background-color: white"></textarea>
<div id="se2_sample" style="margin:10px 0;">
    <input type="button" onclick="save();" value="본문 내용 가져오기">
</div>

<script id="smartEditor" type="text/javascript">
    var oEditors = [];
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "txtContent",  //textarea ID 입력
        sSkinURI: "/libs/smarteditor/SmartEditor2Skin.html",  //martEditor2Skin.html 경로 입력
        fCreator: "createSEditor2",
        htParams : {
            bUseToolbar : true,
            bUseVerticalResizer : false,
            bUseModeChanger : false
        }
    });

    function save(){
        oEditors.getById["txtContent"].exec("UPDATE_CONTENTS_FIELD", []);
        var content = document.getElementById("smartEditor").value;
        alert(document.getElementById("txtContent").value);
        return;
    }
</script>
