<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
  #tagListCont.list-group-item:hover{
    background-color:#31363b !important; ;
  }
</style>
<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <img src="/public/img/logo.png" alt="" width="160px" height="55px" style="margin-top: 10px; margin-left: 20px">
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" style="margin-left: 5px; margin-top: 10px">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/board/list.do" style="font-size: 25px;margin-top: 10px">
            <strong>Chap List</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/register.do" style="font-size: 25px;margin-top: 10px">
            <strong>Chap Story</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/register.do" style="font-size: 25px; margin-top: 10px">
            <strong>Chap Deal</strong>
          </a>
        </li>
      </ul>
    </div>
      <div class="d-flex">
        <i class="nav-link" href="/user/login.do">
            <!--로그인 아이디/회원가입 아이디-->
            <a class="bi bi-person" href="/user/login.do" style="font-size: 27px; color: #757575; margin-right: 15px"></a>
        </i>
        <i class="nav-link">
          <!--로그인 아이디/회원가입 아이디-->
          <a class="bi bi-person-add" href="/user/signup.do" style="font-size: 27px; color: #757575; margin-right: 15px"></a>
        </i>
          <th:block th:if="${session.loginUser!=null}">
            <li class="breadcrumb-item">
              <a class="nav-link" th:href="@{'/user/{uId}/detail.do'(uId=${session.loginUser.userId})}">
                <span th:text="${session.loginUser.userId}"></span>
                (<span th:text="${session.loginUser.name}"></span>)
              </a>
            </li>
            <li class="breadcrumb-item">
              <a class="nav-link" href="/user/logout.do">로그아웃</a>
            </li>
          </th:block>
      </div>
    </div>
  </div>
</nav>


<script>
  function tagListComponent (tagObj) {
    return `
      <a href="/board/${tagObj.tag}/searchTag.do" class="list-group-item text-bg-dark d-flex align-items-center" >
        <i class="bi bi-hash border rounded-circle fs-2 d-flex justify-content-center align-items-center" style="width: 45px; height: 45px"></i>
        <div class="ms-3">
          <div>
            <i class="bi bi-hash"></i>
            <span>${tagObj.tag}</span>
          </div>
          <div class="text-white text-opacity-75">
            <small>게시물</small>
            <small>${tagObj.bCnt}</small>
          </div>
        </div>
      </a>`;
  }

  async function searchTags (tag) {
    let url=`/hashtag/${tag}/search.do`;
    const resp=await fetch(url);
    if (resp.status===200) {
      return await resp.json();
    }
  }
</script>
<!-- 타임리프 문서에서 session 을 삭제할 수 없다. -->
<th:block th:if="${msg!=null || session.msg!=null}">
  <div id="actionModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">액션 메세지</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p th:text="${msg}"></p>
          <p th:text="${session.msg}"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>