<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>ChapChapService</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=31ec04b3b6212bb5d30100281bc01b1c&libraries=services,clusterer,drawing"></script>
</head>
<!-- storelist-main 스타일은 store/list.html에서 사용중이니 지우지말것 -->
<body class="storelist-main" style="background: #FFFAED;">
    <header th:replace="~{headerNav}"></header>
    <main class="container storelist-main">
        <th:block layout:fragment="content"></th:block>
    </main>

    <script>
        //툴팁생성
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        const confirmBtn = document.getElementById('confirmBtn');
        confirmBtn.addEventListener('click', function() {
            const warningMsg = document.querySelector('.alert-warning');
            warningMsg.style.display = 'none';
        });

        const minusBtn = document.getElementById('minusBtn');
        const plusBtn = document.getElementById('plusBtn');
        const peopleInput = document.getElementById('people-input');

        minusBtn.addEventListener('click', function() {
            const value = parseInt(peopleInput.value);
            if (value > 1) {
                peopleInput.value = value - 2;
            }
        });

        plusBtn.addEventListener('click', function() {
            const max = parseInt(peopleInput.getAttribute('max'));
            const value = parseInt(peopleInput.value);
            if (value < max) {
                peopleInput.value = value + 2;
            }
        });
    </script>

</body>
<script th:src="@{/public/js/Recommend.js}"></script>
</html>
