<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>웨이팅 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
<div layout:fragment="content">
<div class="container" >
    <div class="d-flex justify-content-center mb-5">
        <!--  2-1 div-->
        <div class="col-4">
            <div class="card" id="div21">
                <div class="card-header">
                    <h5 class="card-title">현재 대기팀</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong><span th:text="${prevWaitingCount}"></span></strong></p>
                </div>
            </div>
        </div>
        <!--  2-2 div-->
        <div class="col-4">
            <div class="card" id="div22">
                <div class="card-header">
                    <h5 class="card-title">대기 번호</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">대기 번호 : <strong><span th:text="${waiting.waitNum}"></span></strong></p>
                    <p class="card-text">웨이팅 등록 시간 : <strong><span th:text="${waiting.startTime}"></span></strong></p>
                    <p class="card-text">예상 대기 시간 : <strong><span th:text="${estimatedWaitTime}"></span></strong> 분</p>
                </div>
            </div>
        </div>
        <!--  2-3 div-->
        <div class="col-4">
            <div class="card" id="div23">
                <div class="card-header">
                    <h5 class="card-title">홍보영상</h5>
                </div>
                <div class="card-body">
                    <p class="card-text" th:if="${storeswaiting.storeAds}">
                        <a th:href="${storeswaiting.storeAds}" target="_blank">링크를 클릭하세요</a>
                    </p>
                    <p class="card-text">내용이 없습니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div style="display: flex; text-align: center; margin: auto; height: auto;justify-content: center">
    <button type="button" class="btn btn-primary col-3" data-toggle="modal" data-target="#waiting-modal" id="deleteWaiting" onclick="'/'">
        대기 취소하기
    </button>
    <button type="button" class="btn btn-primary col-3" data-toggle="modal" data-target="#waiting-modal" id="modifyWaiting" onclick="`/waiting/waitingModify.do`">
        <a th:href="'${waiting/waitingModify.do}'"></a>인원 수정하기
    </button>
</div>


<script>
    const alertModal = document.getElementById("alertModal");

    function confirmAlert() {
        alertModal.style.display = "none";

    }
    alertModal.style.display = "block";
    alertModal.style.textAlign = "center";

</script>
</div>
</body>
</html>
<style>
    #div21, #div22, #div23{
        height: 50vh;
        text-align: center;
        text-size-adjust: auto;

    }
    #alertModal{
        margin: auto;
        text-align: center;
        justify-content: center;
        height: 50vh;
        width: 50vh;
        display: block;
    }
    .container{
        display: block;
        margin: auto;
    }

    .card-body{
        height: 10vh;
    }
</style>

<!-- 이것도 일단 확정-->