<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.chapspring.mapper.ChapDealMapper">
    <resultMap id="ChapDealMap" type="com.acorn.chapspring.dto.ChapDealDto">
        <id column="event_num" property="eventNum"/>
        <result column="store_num" property="storeNum"/>
        <result column="event_title" property="eventTitle"/>
        <result column="event_condition" property="eventCondition"/>
        <result column="event_reward" property="eventReward"/>
        <result column="event_img" property="eventImg"/>
        <result column="event_start" property="eventStart"/>
        <result column="event_end" property="eventEnd"/>
        <result column="store_name" property="storeName"/>
        <association property="storeName"
                     select="com.acorn.chapspring.mapper.StoreMapper.findStoreName"
                     column="store_num"
                     fetchType="eager"/>
    </resultMap>
    <select id="findAll" resultMap="ChapDealMap">
        SELECT cd.event_num, cd.store_num, cd.event_title, cd.event_condition, cd.event_reward, cd.event_img, cd.event_start, cd.event_end, s.store_name
        FROM chap_deals cd JOIN stores s ON cd.store_num = s.store_num;
    </select>
    <select id="findEventByStore" resultMap="ChapDealMap">
        SELECT * FROM chap_deals WHERE store_num=#{storeNum};
    </select>

</mapper>