<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.chapspring.mapper.ChatRoomMapper">
    <resultMap id="ChatRoomMap" type="com.acorn.chapspring.dto.ChatRoomDto">
        <id property="crId" column="cr_id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="postTime" column="post_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="insertOne">
        INSERT INTO chat_rooms(user_id, name, description) VALUES (#{userId}, #{name}, #{description})
    </insert>
    <select id="findAll" resultMap="ChatRoomMap">
        SELECT * FROM chat_rooms
    </select>
</mapper>