<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.chapspring.mapper.JjimManageMapper">
    <resultMap id="JjimMap" type="JjimManageDto">
        <id column="jjim_num" property="jjimNum"/>
        <result column="jj_status" property="jjStatus"/>
        <result column="user_id" property="userId"/>
        <result column="store_num" property="storeNum"/>
        <result column="store_name" property="storeName"/>
        <result column="address" property="address"/>
    </resultMap>

    <select id="findAllJjim" resultMap="JjimMap">
        select * from stores inner join jjim_manages
                 on stores.store_num = jjim_manages.store_num
                 where user_id=#{userId};
    </select>
</mapper>