<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.chapspring.mapper.MainSearchMapper">
    <resultMap id="StoresMap" type="com.acorn.chapspring.dto.StoresDto">
        <id column="store_num" property="storeNum"/>
        <result column="store_name" property="storeName"/>
        <result column="detail_info" property="detailInfo"/>
        <result column="short_info" property="shortInfo"/>
        <result column="madein" property="madein"/>
        <result column="address" property="address"/>
        <result column="main_img" property="mainImg"/>
        <result column="opentime" property="opentime"/>
        <result column="lastorder" property="lastorder"/>
        <result column="waiting_closetime" property="waitingClosetime"/>
        <result column="blogurl" property="blogurl"/>
        <result column="youtubeurl" property="youtubeurl"/>
        <result column="facebookurl" property="facebookurl"/>
        <result column="instaurl" property="instaurl"/>
        <result column="tvshow" property="tvshow"/>
        <result column="s_rstatus" property="sRstatus"/>
        <result column="parking" property="parking"/>
        <result column="wifi" property="wifi"/>
        <result column="toilet" property="toilet"/>
        <result column="smokingroom" property="smokingroom"/>
        <result column="babychair" property="babychair"/>
    </resultMap>

    <select id="findByAddressReviewsOne" resultMap="StoresMap">
        SELECT s.*, IFNULL(COUNT(r.review_num), 0) AS review_count
        FROM stores s
                 LEFT JOIN reviews r ON s.store_num = r.store_num
                 INNER JOIN storetypes st ON s.store_num = st.store_num -- 조인 추가\
        WHERE st.category_num BETWEEN 1 AND 10
          AND s.address LIKE CONCAT('%',#{param1},'%',#{param2},'%')
        GROUP BY s.store_num
        ORDER BY review_count DESC
            LIMIT 1;
    </select>


</mapper>