<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.chapspring.mapper.MenuManageMapper">
    <resultMap id="MenuManageMap" type="MenuManagesDto">
        <id column="menu_num" property="menuNum"/>
        <result column="name" property="name"/>
        <result column="img" property="img"/>
        <result column="price" property="price"/>
        <result column="info" property="info"/>
        <result column="menu_type" property="menuType"/>
        <result column="status" property="status"/>
        <result column="store_num" property="storeNum"/>
    </resultMap>
    <!--  가게별 메뉴정보  -->
    <select id="findMenuByStore" resultMap="MenuManageMap">
        SELECT * FROM menu_manages WHERE store_num=#{storeNum}
    </select>
    <select id="findMenuNameByNum" resultMap="MenuManageMap">
        SELECT name FROM menu_manages WHERE menu_num=#{menuNum}
    </select>
</mapper>