<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.chapspring.mapper.ReviewRepliesMapper">
    <resultMap id="ReviewRepliesMap" type="com.acorn.chapspring.dto.ReviewRepliesDto">
        <id column="rr_num" property="rrNum"/>
        <result column="review_num" property="reviewNum"/>
        <result column="post_date" property="postDate"/>
        <result column="content" property="content"/>
    </resultMap>
    <delete id="deleteReply">
        DELETE FROM review_replies WHERE review_num=#{reviewNum};
    </delete>
    <select id="findByReview" resultMap="ReviewRepliesMap">
        SELECT * FROM review_replies WHERE review_num=#{reviewNum};
    </select>
</mapper>