<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.chapspring.mapper.ReviewMapper">
    <resultMap id="ReviewMap" type="com.acorn.chapspring.dto.ReviewsDto">
        <id column="review_num" property="reviewNum"/>
        <result column="content" property="content"/>
        <result column="comment" property="comment"/>
        <result column="img" property="img"/>
        <result column="date" property="date"/>
        <result column="star" property="star"/>
        <result column="r_rstatus" property="rrStatus"/>
        <result column="user_id" property="userId"/>
        <result column="store_num" property="storeNum"/>
        <result column="menu_num" property="menuNum"/>
        <result column="store_name" property="storeName"/>
        <result column="main_img" property="mainImg"/>
        <association property="menuName"
                    select="com.acorn.chapspring.mapper.MenuManageMapper.findMenuNameByNum"
                    column="menu_num"
                    fetchType="eager"/>
        <association property="countLike"
                    select="com.acorn.chapspring.mapper.ReviewLikeMapper.countLikeByReview"
                    column="review_num"
                    fetchType="eager"/>
        <collection property="userInfo"
                     select="com.acorn.chapspring.mapper.UserMapper.findByUserId"
                     column="user_id"
                     fetchType="eager"/>
        <collection property="countReview"
                    select="com.acorn.chapspring.mapper.UserMapper.countReviewByUser"
                    column="user_id"
                    fetchType="eager"/>
        <collection property="rReplies"
                    select="com.acorn.chapspring.mapper.ReviewRepliesMapper.findByReview"
                    column="review_num"
                    fetchType="eager"/>
        <collection property="reportReview"
                     select="com.acorn.chapspring.mapper.ReportMapper.findReportByReview"
                     column="review_num"
                     fetchType="eager"/>
        <collection property="reviewLikes"
                     select="com.acorn.chapspring.mapper.ReviewLikeMapper.findLikeByReview"
                     column="review_num"
                     fetchType="eager"/>
    </resultMap>
    <insert id="insertReview">
        INSERT INTO reviews (content,comment,img,date,star,r_rstatus,user_id,store_num,menu_num)
        VALUE (#{content},#{comment},#{img},DATE(NOW()),#{star},#{rrStatus},#{userId},#{storeNum},#{menuNum});
    </insert>
    <delete id="deleteReview">
        DELETE FROM reviews WHERE review_num=#{reviewNum}
    </delete>

    <select id="findReviewByStore" resultMap="ReviewMap">
        SELECT * FROM reviews WHERE store_num=#{storeNum};
    </select>

<!--    리뷰작성 리스트 출력용-->
    <select id="findAllReviewed" resultMap="ReviewMap">
        select * from reviews inner join stores
            on reviews.store_num = stores.store_num
                where user_id=#{userId};
    </select>
    <!-- 가게별 리뷰수 -->
    <select id="countReviewByStore" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM reviews WHERE store_num=#{storeNum};
    </select>
</mapper>