<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.chapspring.mapper.StoreMapper">
    <resultMap id="StoresMap" type="StoresDto">
        <id column="store_num" property="storeNum"/>
        <result column="store_name" property="storeName"/>
        <result column="detail_info" property="detailInfo"/>
        <result column="short_info" property="shortInfo"/>
        <result column="madein" property="madein"/>
        <result column="address" property="address"/>
        <result column="main_img" property="mainImg"/>
        <result column="opentime" property="opentime"/>
        <result column="lastorder" property="lastorder"/>
        <result column="waiting_closetime" property="waitingClosetime"/>
        <result column="blogurl" property="blogurl"/>
        <result column="youtubeurl" property="youtubeurl"/>
        <result column="facebookurl" property="facebookurl"/>
        <result column="instaurl" property="instaurl"/>
        <result column="tvshow" property="tvshow"/>
        <result column="s_rstatus" property="sRstatus"/>
        <result column="parking" property="parking"/>
        <result column="wifi" property="wifi"/>
        <result column="toilet" property="toilet"/>
        <result column="smokingroom" property="smokingroom"/>
        <result column="babychair" property="babychair"/>
        <association property="storeCall"
                    select="com.acorn.chapspring.mapper.StoreManageMapper.findStoreCall"
                    column="store_num"
                    fetchType="eager"/>
        <collection property="menuList"
                    select="com.acorn.chapspring.mapper.MenuManageMapper.findMenuByStore"
                    column="store_num"
                    fetchType="eager"/>
        <collection property="chapDealList"
                    select="com.acorn.chapspring.mapper.ChapDealMapper.findEventByStore"
                    column="store_num"
                    fetchType="eager"/>
        <collection property="reviewList"
                    select="com.acorn.chapspring.mapper.ReviewMapper.findReviewByStore"
                    column="store_num"
                    fetchType="eager"/>
    </resultMap>

    <select id="findAllStores" resultMap="StoresMap">
        SELECT * FROM stores
    </select>
    <select id="findStoresByFilter" resultMap="StoresMap">
#         SELECT *
#         FROM stores
#                  INNER JOIN storetypes ON stores.store_num = storetypes.store_num
#                  INNER JOIN type_classes ON storetypes.category_num = type_classes.category_num
#         WHERE (#{menuType} IS NULL OR type_classes.category_num = #{menuType})
#           AND (#{region} IS NULL OR stores.address LIKE CONCAT(#{region}, '%'))
#           AND (#{parkingAvailable} IS NULL OR stores.parking = #{parkingAvailable})
    </select>
    <select id="sortFilteredStores" resultMap="StoresMap">
#         SELECT * FROM
#                      (SELECT *
#               FROM stores
#               WHERE store_num IN
#                     (SELECT store_num FROM findStoresByFilter(#{menuType}, #{region}, #{parkingAvailable})))
#         ORDER BY CASE
#                      WHEN #{sortCriteria} = 'reviewCount' THEN review_count
#                      WHEN #{sortCriteria} = 'rating' THEN rating
#                      ELSE store_num
#                      END ASC
    </select>
    <select id="findStoreByStoreNum" resultMap="StoresMap">
        SELECT * FROM stores WHERE store_num=#{storeNum}
    </select>
    <select id="findBreaktimesByStoreNum" resultType="com.acorn.chapspring.dto.BreaktimesDto">
        SELECT * FROM breaktimes WHERE store_num=#{storeNum}
    </select>
    <select id="findMenusByStoreNum" resultType="com.acorn.chapspring.dto.MenuManagesDto">
        SELECT * FROM menu_manages WHERE store_num=#{storeNum}
    </select>
    <select id="findReviewsByStoreNum" resultType="com.acorn.chapspring.dto.ReviewsDto">
        SELECT * FROM reviews WHERE store_num=#{storeNum}
    </select>
    <select id="countReviewsByStoreNum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM reviews WHERE store_num=#{storeNum}
    </select>
    <select id="countJjimByStoreNum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM jjim_manages WHERE store_num=#{storeNum}
    </select>
    <!--  가게 이름 찾기 (챱딜에서 사용)  -->
    <select id="findStoreName" resultType="com.acorn.chapspring.dto.StoresDto">
        SELECT store_name FROM stores WHERE store_num=#{storeNum}
    </select>
    <select id="findByStoreNum" resultType="com.acorn.chapspring.dto.StoresDto">
        SELECT * FROM stores WHERE store_num=#{storeNum}
    </select>
</mapper>