<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.chapspring.mapper.UserMapper">
    <!--Users 테이블맵-->
    <resultMap id="UserMap" type="com.acorn.chapspring.dto.UserDto">
        <id column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="pw" property="pw"/>
        <result column="name" property="name"/>
        <result column="birth" property="birth"/>
        <result column="gender" property="gender"/>
        <result column="address" property="address"/>
        <result column="detail_address" property="detailAddress"/>
        <result column="postnumber" property="postnumber"/>
        <result column="email" property="email"/>
        <result column="insta_url" property="instaUrl"/>
        <result column="face_url" property="faceUrl"/>
        <result column="youtube_url" property="youtubeUrl"/>
        <result column="profile_img" property="profileImg"/>
        <result column="introduce" property="introduce"/>
        <result column="u_rstatus" property="urStatus"/>
        <result column="email_check_code" property="emailCheckCode"/>
    </resultMap>

    <!--유저서비스 구문-->
    <insert id="insertOne" parameterType="com.acorn.chapspring.dto.UserDto">
        insert into users (user_id, nickname, pw, name, birth, gender, address,postnumber, detail_address, email,u_rstatus,email_check_code)
            VALUE (#{userId}, #{nickname}, #{pw}, #{name}, #{birth}, #{gender}, #{address},#{postnumber}, #{detailAddress}, #{email},#{urStatus}, #{emailCheckCode})
    </insert>

    <update id="updateOne" parameterType="com.acorn.chapspring.dto.UserDto">
        update users set
                         nickname=#{nickname},
                         pw=#{pw},
                         address=#{address},
                         detail_address=#{detailAddress},
                         postnumber=#{postnumber},
                         email=#{email},
                         insta_url=#{instaUrl},
                         face_url=#{faceUrl},
                         youtube_url=#{youtubeUrl},
                         introduce=#{introduce},
                         birth=#{birth},
                         gender=#{gender},
                         profile_img=#{profileimg}
        where user_id=#{userId}
    </update>
    <update id="setLoginUserId">
        set @loginUserId=#{userId}
    </update>
    <update id="setLoginUserIdIsNull">
        set @loginUserId=Null
    </update>
    <update id="updateStatusByUidAndEmailCheckCode">
        UPDATE users SET u_rstatus=#{urStatus} WHERE user_id=#{userId} AND email_check_code=#{emailCheckCode}
    </update>
    <delete id="deleteByUserIdAndPw" parameterType="com.acorn.chapspring.dto.UserDto">
        delete from users where user_id=#{userId} and pw=#{pw}
    </delete>
    <select id="findByUserId" resultMap="UserMap">
        select * from users where user_id=#{userId}
    </select>
    <select id="findByUserIdAndPw" resultMap="UserMap">
        select * from users where user_id=#{userId} and pw=#{pw}
    </select>


    <!--아이디 중복 검사-->
    <select id="idCheck" resultType="int">
        SELECT COUNT(*) FROM users WHERE user_id=#{userId}
    </select>
    <select id="findAllUsers" resultMap="UserMap">
        select * from users
    </select>

    <!--닉네임 중복 검사-->
    <select id="nickName_Check" resultType="int">
        SELECT COUNT(*) FROM users WHERE nickname=#{nickname}
    </select>

    <!--이메일 중복 검사-->
    <select id="email_Check" resultType="int">
        SELECT COUNT(*) FROM users WHERE email=#{email}
    </select>
    <!--아이디 찾기-->
    <select id="findByNameByEmail" resultMap="UserMap">
        SELECT * FROM users WHERE name=#{name} AND email=#{email}
    </select>
    <select id="findByUserIdAndEmail" resultType="com.acorn.chapspring.dto.UserDto">
        SELECT * FROM users WHERE user_id=#{userId} AND email=#{email}
    </select>

    <!-- 유저별 리뷰수 -->
    <select id="countReviewByUser" resultType="int">
        SELECT COUNT(*) FROM reviews WHERE user_id=#{userId};
    </select>
    <select id="findByUserNickname" resultType="com.acorn.chapspring.dto.UserDto">
        select * from users where nickname=#{nickname}
    </select>
</mapper>