<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.chapspring.mapper.WaitingMapper">
    <resultMap id="waitingMap" type="usersWaitingDto">
        <id column="waiting_num" property="waitingNum"/>
        <result column="user_id" property="userId"/>
        <result column="store_num" property="storeNum"/>
        <result column="user_people" property="userPeople"/>
        <result column="waiting_date" property="waitingDate"/>
        <result column="start_time" property="startTime"/>
        <result column="enter_status" property="enterStatus"/>
    </resultMap>

    <select id="findByWaitNum" resultMap="waitingMap">
        SELECT * FROM userswaiting WHERE wait_num = #{waitNum}
    </select>
    <select id="findOne" resultMap="waitingMap">
        SELECT * FROM userswaiting WHERE store_num=#{storeNum} AND user_id=#{userId} AND waiting_date=CURDATE()
    </select>
    <!--  이건 대기등록할때 보여지는 거  -->
    <select id="getWaitingList" resultMap="waitingMap">
        SELECT *
        FROM userswaiting
        WHERE store_num=#{storeNum}
        AND  enter_status='대기'
        AND waiting_date=CURDATE()
        AND start_time &lt;=
            (SELECT start_time FROM userswaiting WHERE store_num=#{storeNum} AND user_id=#{userId} AND waiting_date=CURDATE())
    </select>
    <!-- 대기 등록 추가   -->
    <insert id="addWaiting">
        INSERT INTO userswaiting( user_id, store_num,user_people,waiting_date,start_time,enter_status)
        VALUES ( #{userId},#{storeNum},#{userPeople},CURDATE(),CURRENT_TIME(),'대기')
    </insert>
    <!-- 대기 등록한 유저의 인원 수정   -->
    <update id="updatePeople">
        UPDATE userswaiting SET user_people=#{userPeople}
        WHERE waiting_num=#{waitingNum}
    </update>
    <!-- 대기 등록한 유저의 대기 삭제   -->
    <delete id="deleteByWaitingNum">
        DELETE FROM userswaiting
        WHERE waiting_date=CURDATE() AND waiting_num=#{waitingNum}
    </delete>
</mapper>